
td {
  background-color:#f4f9fe;
  border-radius:25%;
      opacity: 0.8;
  width:50px;
  height:50px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color:black;
  font-size: 2.5rem;
}

.text{
    color: black;
    opacity: 1;
    font-size: 2rem;
    
    background-color: transparent;
    border: none; 
}

td:hover{
  opacity:0.4;
}




table{
  width:300px;
  height:300px;
}

.table_overlay{
  position:absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    width:300px;
  height:300px;
}





      body{
        margin: 0px;
        font-family: "Montserrat";

      }

      .section {

 font-weight: 700;
  top: 50%;
  left: 50%;
  position: absolute;
  display:block;
  transform: translate(-50%, -50%);
  padding-top: 2rem;
}

h1.whiteheadline 
{

  margin:0px;
}



.whiteheadline {
  font-size: 40px;
  font-family: "Montserrat";
  text-align: center;
  color: white;
  margin: 0;
  background: ;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 25px 0;
}

.header-rectangle { 
    background-color: white;
    text-align: center;
    line-height: 60px;
}

#header-bg {
/*background-image:  url("https://images.unsplash.com/photo-1600224374823-211f85c16521?ixlib=rb-1.2.1&auto=format&fit=crop&w=1342&q=80");*/
background-image: url("https://images.unsplash.com/photo-1602632003094-0494b73b7c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
background-repeat:no-repeat;
height:505px;
background-repeat: no-repeat;
background-color: #ffffff;
background-attachment: fixed;
background-position: top center;
background-size: cover;
position: relative;
 }

.xyz {
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.xyz span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.xyz span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.xyz:hover span {
  padding-right: 25px;
}

.xyz:hover span:after {
  opacity: 1;
  right: 0;
}
.xy{

  font-size: 2rem;
}
